<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include ('partials/head.html')%>


</head>

<body>
    <div class="localContainer animate__animated animate__fadeInUp">
    <!-- nav -->
    <%-include ('partials/navigation.html')%>
    <!-- map -->
    <%-include ('partials/map.html')%>
    </div>
    <!-- menu flotante -->
    <%-include ('partials/floatMenu.html')%>
    <!-- language -->
    <%-include ('partials/language.html')%>
    <!-- modal window -->
    <%-include ('partials/modal.html')%>
    <!-- scripts -->
    <%-include ('partials/scripts.html')%>
</body>

</html>