svg #sd{
    cursor: pointer;
}
svg .bc{
    fill: rgba(0, 0, 0, 0);
    cursor: pointer;
}
svg .place{
    cursor: pointer;
}
svg .st1 {
    fill: #909090;
    transition: all 0.3s;
}
svg .st1:hover {
    fill:  rgba(242, 115, 4, 1);
}
