<div class="items menu animate__animated animate__slideInLeft">

    <input type="checkbox" id="btn-menu" unchecked="true">
    <label for="btn-menu" class="hamburger"> <i class="fas fa-bars"></i></label>

    <nav class="nav-menu">
        <ul>
            <li><a class="btnCategory" href="#" title="Como llegar"><i class="fas fa-location-arrow"></i></a></li>
            <li><a class="btnCategory" href="#" title="Lugares"><i class="fas fa-place-of-worship"></i></a>
            </li>
            <li><a class="btnCategory" href="#" title="Comida"><i class="fas fa-utensils"></i></a></li>
            <li><a class="btnCategory" href="#" title="Hoteles"><i class="fas fa-hotel"></i></a></li>
            <li><a class="btnCategory" href="#" title="Taxis"><i class="fas fa-taxi"></i></a></li>
            <li><a class="btnCategory" href="#" title="Buses"><i class="fas fa-bus"></i></a></li>
            <li><a class="btnCategory" href="#" title="Hospitales"><i class="fas fa-clinic-medical"></i></a>
            </li>
        </ul>
    </nav>
</div>